{% extends "comp/base.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/bootstrap.html" as bsu %}

{% block pagetitle %}{% if form.instance %}{{ gettext('Modify competition %(name)s', name=form.instance.title) }}{% else %}{{ gettext('create new competition').capitalize() }}{% endif %}{% endblock %}

{% block content %}
<h1>{% if form.instance %}{{ gettext('Modify competition %(name)s', name=form.instance.title) }}{% else %}{{ gettext('create new competition').capitalize() }}{% endif %}</h1>
<form class="form form-horizontal" method="post", action="{{ url_for('comp.create') }}">
  {{ forms.render(form) }}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">{{ bsu.icon("ok") }} {{ gettext('save') }}</button>
    </div>
  </div>
</form>
{% endblock %}
