{% extends "auth/base.html" %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap-social.css">
{% endblock %}

{% block pagetitle %}{% trans %}Select login provider{% endtrans %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h2>{% trans %}Sign in with{% endtrans %}</h2>
  </div>
  {% if config.GOOGLE %}
  <div class="col-md-4">
    <div class="well well-lg text-center"><a href="{{ url_for('auth.login', provider='google') }}" class="btn btn-social btn-google-plus"><i class="fa fa-google"></i> Google</a></div>
  </div>
  {% endif %}
  {% if config.FACEBOOK %}
  <div class="col-md-4">
    <div class="well well-lg text-center"><a href="#" class="btn btn-social btn-facebook"><i class="fa fa-facebook"></i> Facebook</a></div>
  </div>
  {% endif %}
  {% if config.GITHUB %}
  <div class="col-md-4">
    <div class="well well-lg text-center"><a href="#" class="btn btn-social btn-github"><i class="fa fa-github"></i> GitHub</a></div>
  </div>
  {% endif %}
</div>
{% if config.DEBUG %}
<div class="row">
  <div class="col-md-12">
    <hr>
    <div class="well well-lg text-center"><a href="{{ url_for('auth.login', provider='local') }}" class="btn btn-primary">{% trans %}Local{% endtrans %}</a></div>
  </div>
</div>
{% endif %}
{% endblock %}
