<!DOCTYPE html>
<html lang="{{ get_locale().language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block pagetitle %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.min.css">
    {% block extracss %}{% endblock %}
  </head>
  <body role="document">

    <div role="main">
      <div class="flex four-fifth center content grow">
        {% for category, flash in get_flashed_messages(with_categories=True) %}
        <div class="card {{ category }}" role="alert">
          <p>{{ flash }}</p>
          <a class="close">x</a>
        </div>
        {% endfor %}
      </div>
      <div class="flex four-fifth center content grow">
        {% block callout %}
        {% endblock %}
      </div>
      <div class="flex four-fifth center content grow">
        <div>
        {% block content %}
        {% endblock %}
        </div>
      </div>
      <div class="flex four-fifth grow center content">
        <footer>
          <hr>
          <p>Copyright: &copy; 2014, Jarek Zgoda &amp; Z-SOFT. All rights reserved.</p>
        </footer>
      </div>
    </div>
    {% block extrajs %}
    {% endblock %}
  </body>
</html>
