{% extends "base.html" %}

{% block pagetitle %}{{ gettext('your homebrewing competition').capitalize() }}{% endblock %}

{% block callout %}
<div class="page-header">
  <h1>{{ gettext('make the best homebrewing competition').capitalize() }}</h1>
</div>
<p class="lead">{% trans %}Make your homebrewing competition - effortlessly, and in a proper way{% endtrans %}.</p>
<p><a href="{{ url_for('home.flatpage', path='about') }}" class="btn btn-primary btn-lg" role="button">{{ gettext('learn more').capitalize() }} &raquo;</a></p>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2>{{ gettext('recently announced').capitalize() }}</h2>
    <ul>
      {% for comp in recent %}
      <li><a href="{{ url_for('comp.details', comp_id=comp.id) }}">{{ comp.title }}</a></li>
      {% else %}
      <p>{{ gettext('nothing').capitalize() }}</p>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-6">
    <h2>{{ gettext('upcoming').capitalize() }}</h2>
    <ul>
      {% for comp in upcoming %}
      <li>{{ comp.title }}</li>
      {% else %}
      <p>{{ gettext('nothing').capitalize() }}</p>
      {% endfor %}
    </ul>
  </div>
</div>
{% if current_user.is_authenticated %}
<p><a href="{{ url_for('comp.create') }}" class="btn btn-primary btn-lg" role="button">{{ gettext('announce your competition').capitalize() }}</a></p>
{% endif %}
{% endblock %}
